@charset "UTF-8";
/*转换为两位小数的rem单位*/
/*单行文字缩略*/
/* 雪碧图*/
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.top-bar {
  width: 100%;
  background-color: #1a1a1f;
  color: #ffffff;
  font-size: 0.48rem;
  line-height: 1.2rem;
  position: fixed;
  top: 0;
  display: flex; }
  .top-bar > div {
    width: 3.33rem;
    height: 1.2rem; }
  .top-bar .back {
    padding-left: 0.67rem; }
    .top-bar .back:before {
      content: "";
      display: block;
      background: url(img/css_sprites.png) no-repeat;
      background-size: 8.36rem 2.29rem;
      background-position: -1.95rem -0.32rem;
      width: 0.32rem;
      height: 0.48rem;
      position: absolute;
      left: 0.27rem;
      bottom: 0.35rem; }
  .top-bar .banner {
    text-align: center; }
  .top-bar .dian {
    display: block;
    font-size: 0;
    width: 0.64rem;
    height: 1.2rem;
    position: absolute;
    right: 0.35rem;
    bottom: 0.35rem;
    background: url(img/css_sprites.png) no-repeat;
    background-size: 8.36rem 2.29rem;
    background-position: -5.15rem 0.45rem; }

.location-bar {
  font-size: 0.4rem;
  height: 1.28rem;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  top: 1.2rem; }
  .location-bar span {
    display: inline-block;
    margin-left: 0.8rem;
    width: 2.53rem;
    line-height: 1.28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .location-bar span:before {
    content: "";
    display: block;
    background: url(img/css_sprites.png) no-repeat;
    background-size: 8.36rem 2.29rem;
    background-position: -1.07rem -0.29rem;
    width: 0.29rem;
    height: 0.43rem;
    position: absolute;
    left: 0.35rem;
    bottom: 0.43rem; }
  .location-bar span::after {
    content: "";
    display: inline-block;
    width: 0.24rem;
    height: 0.16rem;
    background: url(img/css_sprites.png) no-repeat;
    background-size: 8.36rem 2.29rem;
    background-position: -0.28rem -0.29rem;
    position: absolute;
    top: 0.55rem;
    left: 3.2rem; }

.content-bar {
  display: flex;
  position: relative;
  height: 14rem;
  margin-top: 2.51rem; }
  .content-bar .left {
    position: fixed;
    left: 0;
    top: 2.51rem; }
    .content-bar .left li {
      font-size: 0.37rem;
      color: #b3b3b3;
      height: 1.39rem;
      line-height: 1.39rem;
      width: 2.13rem;
      text-align: center;
      border-bottom: 1px solid #dfdfdf; }
  .content-bar .active {
    color: #333333 !important; }
    .content-bar .active:before {
      content: "";
      background-color: #fc6f2a;
      height: 1.39rem;
      width: 0.13rem;
      position: absolute;
      left: 0; }
  .content-bar #rightOuter {
    width: 7.87rem;
    margin-left: 2.13rem;
    overflow-y: scroll;
    overflow-x: hidden; }
    .content-bar #rightOuter .right li {
      width: 7.12rem;
      height: 2.67rem;
      margin-left: 0.53rem;
      border-bottom: 1px solid #dfdfdf;
      position: relative; }
    .content-bar #rightOuter .right img {
      width: 2.11rem;
      height: 2.67rem;
      padding-top: 0.35rem;
      padding-bottom: 0.35rem;
      margin-right: 0.31rem;
      position: absolute;
      left: -0.21rem; }
    .content-bar #rightOuter .right .intro {
      display: inline-block;
      width: 4.53rem;
      font-size: 0.4rem;
      position: absolute;
      left: 2.4rem; }
    .content-bar #rightOuter .right .price {
      display: inline-block;
      font-size: 0.45rem;
      color: #fc6f2a;
      position: absolute;
      bottom: 0.03rem;
      left: 2.32rem; }
    .content-bar #rightOuter .right .plus-minus {
      width: 2.08rem;
      height: 0.61rem;
      display: flex;
      justify-content: space-around;
      position: absolute;
      bottom: 0.45rem;
      right: 0.03rem; }
      .content-bar #rightOuter .right .plus-minus div {
        width: 0.61rem;
        height: 0.61rem;
        padding: 0;
        margin: 0; }
      .content-bar #rightOuter .right .plus-minus div[id*="plus"] {
        position: absolute;
        top: 0rem;
        left: 1.33rem;
        background: url(img/css_sprites.png) no-repeat;
        background-size: 8.36rem 2.29rem;
        background-position: -3.97rem -0.27rem; }
      .content-bar #rightOuter .right .plus-minus div[id*="minus"] {
        position: absolute;
        top: 0rem;
        left: -0.13rem;
        background: url(img/css_sprites.png) no-repeat;
        background-size: 8.36rem 2.29rem;
        background-position: -2.83rem -0.27rem;
        display: none; }
      .content-bar #rightOuter .right .plus-minus span {
        color: #fc6f2a;
        font-size: 0.41rem;
        position: absolute;
        top: 0.03rem;
        left: 0.83rem; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.28rem;
  font-size: 0.43rem;
  text-align: center;
  line-height: 1.28rem;
  color: #ffffff;
  position: relative; }
  footer .money {
    width: 5.79rem;
    background-color: #333333;
    position: absolute;
    left: 0; }
    footer .money .shopcar {
      width: 1.55rem;
      height: 1.55rem;
      position: absolute;
      left: 0.35rem;
      bottom: 0.53rem;
      background: url(img/css_sprites.png) no-repeat;
      background-size: 8.36rem 2.29rem;
      background-position: -6.4rem -0.27rem; }
    footer .money #sum-icon {
      background-color: #fc6f2a;
      border-radius: 20px;
      position: absolute;
      left: 1.55rem;
      bottom: 1.64rem;
      font-size: 0.35rem;
      line-height: 0.53rem;
      padding: 0 0.08rem; }
  footer .check {
    position: absolute;
    right: 0;
    width: 4.21rem;
    background-color: #fc6f2a; }

/*# sourceMappingURL=index.css.map */
